:root {
  --cream:rgb(236,224,209);
  --dark-cream:rgb(219,193,172);
  --light-brown:rgb(150,114,89);
  --brown:rgb(99,72,50);
  --dark-brown:rgb(56,34,15);
}
* {
  padding: 0;
  margin: 0;
}
body {
  background: var(--cream);
  font-family: 'Merriweather', serif;
}
/* NAVIGATION */
.navigation {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 10rem;
  grid-template-areas:
  "logo home menu specials about";
  justify-items: center;
  align-items: center;
  background-image: url('./wood1.jpg');
  position: sticky;
  top: 0;
  z-index: 10;

}
.navigation a {
  text-decoration: none;
  color: Black;
  padding: 40px;
  background: var(--cream);
  border-radius: 10%;
  font-family: 'Merriweather', serif;
  border: 2px solid white;
  font-size: 22px;

}
.navigation a:hover {
  animation: anim 0.9s cubic-bezier(1,.015,.295,1.225) forwards;
}
.logo {
  grid-area: logo;
  position:relative;
}
.logo i {

  font-size: 100px;
  color: var(--cream);
}
.logo p {
  position: absolute;
  left: 12px;
  top: 43px;
  color: var(--dark-brown);
  font-size: 14px;

}
.home {
  grid-area: home;

}
.home:hover {
  animation: anim 0.9s cubic-bezier(1,.015,.295,1.225) forwards;
  transition: 1s ease-in-out;
}
@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
    background: rgb(56,34,15);
    color: var(--cream);
    border: 2px solid var(--cream);
  }
}
.menu-images a {
  text-decoration: none;
  color: var(--cream);
}
.menu-images a:hover {
  color: var(--dark-brown);
}

.menu {
  grid-area: menu;
}
.menu:hover {
  animation: anim 0.9s cubic-bezier(1,.015,.295,1.225) forwards;
}
.specials {
  grid-area: specials;
}
.specials:hover {
  animation: anim 0.9s cubic-bezier(1,.015,.295,1.225) forwards;
}
.about {
  grid-area: about;
}
.about:hover {
  animation: anim 0.9s cubic-bezier(1,.015,.295,1.225) forwards;
}
/* NAVIGATION */

/* CONTENT  */



/* CONTENT  */


/* FOOTER */

/* FOOTER */
footer {
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: 280px 120px;
  grid-template-areas:
  "address contact value"
  "copyright copyright copyright";
  background: black;
  color: var(--cream);
  justify-items: center;
  align-items: center;

}
.address {
  grid-area: address;
}
.address li {
  list-style:  square;
  padding: 10px;
}
.contact {
  grid-area: contact;
}
.contact li {
  list-style:  square;
  padding: 10px;
}
.value {
  grid-area: value;
  text-align: center;

}
.value p {
  padding: 10px;
  font-size: 23px;
}
.copyright {
  grid-area: copyright;
}

/* FOOTER */
